.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/generated/*.rs
deny.toml
/target
**/target
/src-tauri/target
/src-tauri/tauri.conf.json.bak
.vscode/