:root {

	--primary-colour: #51b1dd;
	--secondary-colour: #facc15;

	--font-colour: #ffffff;
	--font-secondary-colour: #ffffff;
	--font-family: "Roboto";

	--font-sm: 14px;
	--font-md: 16px;
	--font-lg: 20px;

	--bg-colour: #020113;
	--card-bg-colour: #1f3d4b;

	--spacing: 1rem;
	--border-r: 10px;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--bg-colour);
	padding: 5px 25px 25px 25px;
	color: var(--font-colour);
	font-family: var(--font-family);
	user-select: none;
	display: flex;
	flex-direction: column;

}

button {
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	line-height: 0;
	cursor: pointer;
}

ul {
	list-style: none;
}



* {
	scrollbar-width: thin;
	scrollbar-color: #4b839e transparent;
}